{
	"plugins": [
		[
			"@babel/transform-runtime",
			{
				"regenerator": true
			}
		],
		[
			"@babel/proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/proposal-class-properties",
			{
				"loose": true
			}
		]
	]
}