<!doctype html>
<html ng-app=. ng-controller=.>

<head>
	<title></title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-q-state/$q.js"></script>
	<script>
		angular.module('.', [])
			.controller('.', function ($scope, $http) {
				$scope.connect = () => {
					$scope.$proxyRule = $http.get(`${$scope.endpoint}/proxy-rule/`);
					$scope.$vhost = $http.get(`${$scope.endpoint}/vhost/`);
					$scope.$app = $http.get(`${$scope.endpoint}/app/`);
					$scope.$module = $http.get(`${$scope.endpoint}/module/`);
					$scope.proxyRuleDeleting = {};
					$scope.updatedProxyRule = {};
					$scope.proxyRuleUpdating = {};
					$scope.proxyRuleEditing = {};
					$scope.proxyRuleEditing = new Proxy($scope.proxyRuleEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value)
								$scope.updatedProxyRule[property] = $scope.$proxyRule.value.data[property];
						}
					});
					$scope.updatedProxyRuleName = {};
					$scope.proxyRuleRenaming = {};
					$scope.proxyRuleNameEditing = {};
					$scope.proxyRuleNameEditing = new Proxy($scope.proxyRuleNameEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value)
								$scope.updatedProxyRuleName[property] = property;
						}
					});
					$scope.newProxyRule = { name: '', value: '' };
					delete $scope.proxyRuleAdding;
					$scope.vhostDeleting = {};
					$scope.updatedVHost = {};
					$scope.vhostUpdating = {};
					$scope.vhostEditing = {};
					$scope.vhostEditing = new Proxy($scope.vhostEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value)
								$scope.updatedVHost[property] = $scope.$vhost.value.data[property];
						}
					});
					$scope.updatedVHostName = {};
					$scope.vhostRenaming = {};
					$scope.vhostNameEditing = {};
					$scope.vhostNameEditing = new Proxy($scope.vhostNameEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value)
								$scope.updatedVHostName[property] = property;
						}
					});
					$scope.newVHost = { name: '', value: '' };
					delete $scope.vhostAdding;
					$scope.updatedApp = {};
					$scope.appEditing = {};
					$scope.appEditing = new Proxy($scope.appEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value) {
								$scope.updatedApp[property] = Object.assign({}, $scope.$app.value.data[property]);
								delete $scope.updatedApp[property].running;
							}
						}
					});
					$scope.updatedAppName = {};
					$scope.appNameEditing = {};
					$scope.appNameEditing = new Proxy($scope.appNameEditing, {
						set: (target, property, value) => {
							target[property] = value;
							if (value)
								$scope.updatedAppName[property] = property;
						}
					});
					$scope.newApp = { name: '', value: {} };
					delete $scope.appAdding;
					$scope.newModule = { value: {} };
					delete $scope.moduleAdding;
					$scope.eventSource && $scope.eventSource.close();
					$scope.eventSource = new EventSource(`${$scope.endpoint}/event/`);
					$scope.eventSource.addEventListener('stop', e => {
						var [source, data] = e.data.split('\n');
						data = JSON.parse(data);
						var [, type, name] = source.split('/');
						if (type == 'app') {
							$scope.$app.value.data[name].running = false;
							$scope.$apply();
						}
					});
				};
				$scope.proxyRuleDeleting;
				$scope.deleteProxyRule = name => {
					$scope.proxyRuleDeleting[name] = $http.delete(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`);
					$scope.proxyRuleDeleting[name].then(response => {
						delete $scope.$proxyRule.value.data[name];
					});
				};
				$scope.updatedProxyRule;
				$scope.proxyRuleUpdating;
				$scope.proxyRuleEditing;
				$scope.updateProxyRule = name => {
					var value = $scope.updatedProxyRule[name];
					$scope.proxyRuleUpdating[name] = $http.put(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`, JSON.stringify(value));
					$scope.proxyRuleUpdating[name].then(response => {
						$scope.$proxyRule.value.data[name] = value;
						$scope.proxyRuleEditing[name] = false;
					});
				};
				$scope.updatedProxyRuleName;
				$scope.proxyRuleRenaming;
				$scope.proxyRuleNameEditing;
				$scope.renameProxyRule = name => {
					var newName = $scope.updatedProxyRuleName[name];
					if (newName == name) {
						delete $scope.proxyRuleNameEditing[name];
						return;
					}
					if (newName in $scope.$proxyRule.value.data) {
						alert("The proxy rule already exists.");
						return;
					}
					$scope.proxyRuleRenaming[name] = $http({
						method: 'MOVE',
						url: `${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`,
						headers: {
							Destination: `/proxy-rule/${encodeURIComponent(newName || 'default')}`,
							Overwrite: 'F'
						}
					});
					$scope.proxyRuleRenaming[name].then(response => {
						$scope.$proxyRule.value.data[newName] = $scope.$proxyRule.value.data[name];
						delete $scope.$proxyRule.value.data[name];
						delete $scope.proxyRuleNameEditing[name];
						$scope.proxyRuleEditing[newName] = $scope.proxyRuleEditing[name];
						delete $scope.proxyRuleEditing[name];
						$scope.proxyRuleRenaming[newName] = $scope.proxyRuleRenaming[name];
						delete $scope.proxyRuleRenaming[name];
						$scope.proxyRuleUpdating[newName] = $scope.proxyRuleUpdating[name];
						delete $scope.proxyRuleUpdating[name];
						$scope.proxyRuleDeleting[newName] = $scope.proxyRuleDeleting[name];
						delete $scope.proxyRuleDeleting[name];
						$scope.updatedProxyRule[newName] = $scope.updatedProxyRule[name];
						delete $scope.updatedProxyRule[name];
						delete $scope.updatedProxyRuleName[name];
					});
				};
				$scope.newProxyRule;
				$scope.proxyRuleAdding;
				$scope.addProxyRule = () => {
					var { name, value } = $scope.newProxyRule;
					if (name in $scope.$proxyRule.value.data) {
						alert("The proxy rule already exists.");
						return;
					}
					$scope.proxyRuleAdding = $http.put(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`, JSON.stringify(value));
					$scope.proxyRuleAdding.then(response => {
						$scope.$proxyRule.value.data[name] = value;
						with ($scope.newProxyRule) { name = ''; value = ''; }
						setTimeout(() => {
							document.getElementById('add-proxy-rule').elements[0].focus();
						}, 0);
					});
				};
				$scope.vhostDeleting;
				$scope.deleteVHost = name => {
					$scope.vhostDeleting[name] = $http.delete(`${$scope.endpoint}/vhost/${encodeURIComponent(name || 'default')}`);
					$scope.vhostDeleting[name].then(response => {
						delete $scope.$vhost.value.data[name];
					});
				};
				$scope.updatedVHost;
				$scope.vhostUpdating;
				$scope.vhostEditing;
				$scope.updateVHost = name => {
					var value = $scope.updatedVHost[name];
					$scope.vhostUpdating[name] = $http.put(`${$scope.endpoint}/vhost/${encodeURIComponent(name || 'default')}`, JSON.stringify(value));
					$scope.vhostUpdating[name].then(response => {
						$scope.$vhost.value.data[name] = value;
						$scope.vhostEditing[name] = false;
					});
				};
				$scope.updatedVHostName;
				$scope.vhostRenaming;
				$scope.vhostNameEditing;
				$scope.renameVHost = name => {
					var newName = $scope.updatedVHostName[name];
					if (newName == name) {
						delete $scope.vhostNameEditing[name];
						return;
					}
					if (newName in $scope.$vhost.value.data) {
						alert("The proxy rule already exists.");
						return;
					}
					$scope.vhostRenaming[name] = $http({
						method: 'MOVE',
						url: `${$scope.endpoint}/vhost/${encodeURIComponent(name || 'default')}`,
						headers: {
							Destination: `/vhost/${encodeURIComponent(newName || 'default')}`,
							Overwrite: 'F'
						}
					});
					$scope.vhostRenaming[name].then(response => {
						$scope.$vhost.value.data[newName] = $scope.$vhost.value.data[name];
						delete $scope.$vhost.value.data[name];
						delete $scope.vhostNameEditing[name];
						$scope.vhostEditing[newName] = $scope.vhostEditing[name];
						delete $scope.vhostEditing[name];
						$scope.vhostRenaming[newName] = $scope.vhostRenaming[name];
						delete $scope.vhostRenaming[name];
						$scope.vhostUpdating[newName] = $scope.vhostUpdating[name];
						delete $scope.vhostUpdating[name];
						$scope.vhostDeleting[newName] = $scope.vhostDeleting[name];
						delete $scope.vhostDeleting[name];
						$scope.updatedVHost[newName] = $scope.updatedVHost[name];
						delete $scope.updatedVHost[name];
						delete $scope.updatedVHostName[name];
					});
				};
				$scope.newVHost;
				$scope.vhostAdding;
				$scope.addVHost = () => {
					var { name, value } = $scope.newVHost;
					if (name in $scope.$vhost.value.data) {
						alert("The vhost already exists.");
						return;
					}
					$scope.vhostAdding = $http.put(`${$scope.endpoint}/vhost/${encodeURIComponent(name || 'default')}`, JSON.stringify(value));
					$scope.vhostAdding.then(response => {
						$scope.$vhost.value.data[name] = value;
						with ($scope.newVHost) { name = ''; value = ''; }
						setTimeout(() => {
							document.getElementById('add-vhost').elements[0].focus();
						}, 0);
					});
				};
				$scope.deleteApp = name => {
					var app = $scope.$app.value.data[name];
					app.deleting = $http.delete(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`);
					app.deleting.then(response => {
						delete $scope.$app.value.data[name];
					});
				};
				$scope.updatedApp;
				$scope.appEditing;
				$scope.updateApp = name => {
					if ($scope.updatedAppTypeNgModelController.$invalid) {
						alert("type is not valid.");
						return;
					}
					else if ($scope.updatedAppModuleNgModelController.$invalid) {
						alert("module is not valid.");
						return;
					}
					else if ($scope.updatedAppArgumentsNgModelController.$invalid) {
						alert("arguments is not valid.");
						return;
					}
					else if ($scope.updatedAppMountNgModelController.$invalid) {
						alert("mount is not valid.");
						return;
					}
					var app = $scope.$app.value.data[name];
					var value = $scope.updatedApp[name];
					app.updating = $http.put(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`, value);
					app.updating.then(response => {
						$scope.$app.value.data[name] = value;
						$scope.appEditing[name] = false;
					});
				};
				$scope.updatedAppName;
				$scope.appNameEditing;
				$scope.renameApp = name => {
					var newName = $scope.updatedAppName[name];
					if (newName == name) {
						delete $scope.appNameEditing[name];
						return;
					}
					if (newName in $scope.$app.value.data) {
						alert("The app already exists.");
						return;
					}
					var app = $scope.$app.value.data[name];
					app.renaming = $http({
						method: 'MOVE',
						url: `${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`,
						headers: {
							Destination: `/app/${encodeURIComponent(newName || 'default')}`,
							Overwrite: 'F'
						}
					});
					app.renaming.then(response => {
						$scope.$app.value.data[newName] = $scope.$app.value.data[name];
						delete $scope.$app.value.data[name];
						delete $scope.appNameEditing[name];
						$scope.appEditing[newName] = $scope.appEditing[name];
						delete $scope.appEditing[name];
						$scope.updatedApp[newName] = $scope.updatedApp[name];
						delete $scope.updatedApp[name];
						delete $scope.updatedAppName[name];
					});
				};
				$scope.newApp;
				$scope.appAdding;
				$scope.addApp = () => {
					if ($scope.newAppTypeNgModelController.$invalid) {
						alert("type is not valid.");
						return;
					}
					else if ($scope.newAppModuleNgModelController.$invalid) {
						alert("module is not valid.");
						return;
					}
					else if ($scope.newAppArgumentsNgModelController.$invalid) {
						alert("arguments is not valid.");
						return;
					}
					else if ($scope.newAppMountNgModelController.$invalid) {
						alert("mount is not valid.");
						return;
					}
					var { name, value } = $scope.newApp;
					if (name in $scope.$app.value.data) {
						alert("The app already exists.");
						return;
					}
					$scope.appAdding = $http.put(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`, value);
					$scope.appAdding.then(response => {
						$scope.$app.value.data[name] = value;
						with ($scope.newApp) { name = ''; value = {}; }
						setTimeout(() => {
							document.getElementById('add-app').elements[0].focus();
						}, 0);
					});
				};
				$scope.start = name => {
					var app = $scope.$app.value.data[name];
					app.starting = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/start`);
					app.starting.then(response => {
						app.running = true;
					});
				};
				$scope.stop = name => {
					var app = $scope.$app.value.data[name];
					app.stopping = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/stop`);
					app.stopping.then(response => {
						app.running = false;
					});
				};
				$scope.newModule;
				$scope.moduleAdding;
				$scope.addModule = () => {
					var { value } = $scope.newModule;
					$scope.moduleAdding = $http.post(`${$scope.endpoint}/module/`, value);
					$scope.moduleAdding.then(response => {
						var location = response.headers('Location');
						var name = location.substr(location.indexOf('/', 1) + 1);
						$scope.$module.value.data[name] = value;
						with ($scope.newModule) { value = {}; }
						setTimeout(() => {
							document.getElementById('add-module').elements[0].focus();
						}, 0);
					});
				};
				$scope.deleteModule = name => {
					var module = $scope.$module.value.data[name];
					module.deleting = $http.delete(`${$scope.endpoint}/module/${encodeURIComponent(name)}`);
					module.deleting.then(response => {
						delete $scope.$module.value.data[name];
					});
				};
			})
			.config($httpProvider => {
				$httpProvider.interceptors.push(
					() => ({
						request: config => {
							config.withCredentials = true;
							return config;
						}
					})
				);
			})
			.directive('errorLink', () => ({
				restrict: 'A',
				scope: { errorLink: '=' },
				link: (scope, element, attr) => {
					element.on('click', () => {
						alert(
							scope.errorLink.value.status > 0 ?
								scope.errorLink.value.data :
								"Didn't get response from server."
						);
					});
				}
			}))
	</script>
	<script src="notEmpty.js"></script>
	<script src="ngModelJson.js"></script>
	<script src="ngModelControllerRef.js"></script>
	<style>
		[error-link] {
			color: red;
			text-decoration: underline;
			cursor: pointer;
		}
		td > input {
			width: 100%;
		}
	</style>
</head>

<body>
	<form>target: <input type=text ng-model=endpoint><button ng-click=connect();>connect</button></form>
	<section ng-if=$proxyRule>
		<h4>proxy rules</h4>
		<div ng-if=$proxyRule.pending>loading..</div>
		<div ng-if=$proxyRule.rejected error-link=$proxyRule>error</div>
		<table ng-if=$proxyRule.resolved>
			<tr ng-if=!($proxyRule.value.data|notEmpty)><td colspan=3>(no proxy rules)</td></tr>
			<tr ng-repeat="(name,value) in $proxyRule.value.data">
				<td ng-if=!proxyRuleNameEditing[name]>{{name||"(default)"}}</td>
				<td ng-if=proxyRuleNameEditing[name]><input type=text form=rename-proxy-rule-{{name}} ng-disabled=proxyRuleRenaming[name].pending ng-model=updatedProxyRuleName[name]></td>
				<td ng-if=!proxyRuleEditing[name]>{{value}}</td>
				<td ng-if=proxyRuleEditing[name]><input type=text form=update-proxy-rule-{{name}} ng-disabled=proxyRuleUpdating[name].pending ng-model=updatedProxyRule[name]></td>
				<td>
					<span ng-if=proxyRuleDeleting[name].pending>(deleting..)</span>
					<span ng-if=proxyRuleDeleting[name].rejected error-link=proxyRuleDeleting[name]>(delete failed)</span>
					<button ng-if=!proxyRuleDeleting[name].pending ng-hide=proxyRuleEditing[name] ng-click=deleteProxyRule(name);>❌</button>
					<span ng-if=proxyRuleUpdating[name].pending>(updating..)</span>
					<span ng-if=proxyRuleUpdating[name].rejected error-link=proxyRuleUpdating[name]>(update failed)</span>
					<button ng-if=!proxyRuleEditing[name] ng-hide=proxyRuleDeleting[name].pending ng-click=proxyRuleEditing[name]=true;>🖉</button>
					<button ng-if=proxyRuleEditing[name] ng-hide=proxyRuleUpdating[name].pending ng-click=proxyRuleEditing[name]=false;>cancel</button>
					<button form=update-proxy-rule-{{name}} ng-if=proxyRuleEditing[name] ng-hide=proxyRuleUpdating[name].pending>submit</button>
					<span ng-if=proxyRuleRenaming[name].pending>(renaming..)</span>
					<span ng-if=proxyRuleRenaming[name].rejected error-link=proxyRuleRenaming[name]>(rename failed)</span>
					<button ng-if=!proxyRuleNameEditing[name] ng-hide=proxyRuleDeleting[name].pending ng-click=proxyRuleNameEditing[name]=true;>rename</button>
					<button ng-if=proxyRuleNameEditing[name] ng-hide=proxyRuleRenaming[name].pending ng-click=proxyRuleNameEditing[name]=false;>cancel</button>
					<button form=rename-proxy-rule-{{name}} ng-if=proxyRuleNameEditing[name] ng-hide=proxyRuleRenaming[name].pending>submit</button>
				</td>
				<form id=update-proxy-rule-{{name}} ng-submit=updateProxyRule(name);></form>
				<form id=rename-proxy-rule-{{name}} ng-submit=renameProxyRule(name);></form>
			</tr>
			<tr>
				<td><input type=text form=add-proxy-rule ng-disabled=proxyRuleAdding.pending ng-model=newProxyRule.name></td>
				<td><input type=text form=add-proxy-rule ng-disabled=proxyRuleAdding.pending ng-model=newProxyRule.value></td>
				<td>
					<span ng-if=proxyRuleAdding.pending>(adding..)</span>
					<span ng-if=proxyRuleAdding.rejected error-link=proxyRuleAdding>(add failed)</span>
					<button form=add-proxy-rule ng-if=!proxyRuleAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-proxy-rule ng-submit=addProxyRule();></form>
	</section>
	<section ng-if=$vhost>
		<h4>vhost</h4>
		<div ng-if=$vhost.pending>loading..</div>
		<div ng-if=$vhost.rejected error-link=$vhost>error</div>
		<table ng-if=$vhost.resolved>
			<tr ng-if=!($vhost.value.data|notEmpty)><td colspan=3>(no vhosts)</td></tr>
			<tr ng-repeat="(name,value) in $vhost.value.data">
				<td ng-if=!vhostNameEditing[name]>{{name||"(default)"}}</td>
				<td ng-if=vhostNameEditing[name]><input type=text form=rename-vhost-{{name}} ng-disabled=vhostRenaming[name].pending ng-model=updatedVHostName[name]></td>
				<td ng-if=!vhostEditing[name]>{{value}}</td>
				<td ng-if=vhostEditing[name]><input type=text form=update-vhost-{{name}} ng-disabled=vhostUpdating[name].pending ng-model=updatedVHost[name]></td>
				<td>
					<span ng-if=vhostDeleting[name].pending>(deleting..)</span>
					<span ng-if=vhostDeleting[name].rejected error-link=vhostDeleting[name]>(delete failed)</span>
					<button ng-if=!vhostDeleting[name].pending ng-hide=vhostEditing[name] ng-click=deleteVHost(name);>❌</button>
					<span ng-if=vhostUpdating[name].pending>(updating..)</span>
					<span ng-if=vhostUpdating[name].rejected error-link=vhostUpdating[name]>(update failed)</span>
					<button ng-if=!vhostEditing[name] ng-hide=vhostDeleting[name].pending ng-click=vhostEditing[name]=true;>🖉</button>
					<button ng-if=vhostEditing[name] ng-hide=vhostUpdating[name].pending ng-click=vhostEditing[name]=false;>cancel</button>
					<button form=update-vhost-{{name}} ng-if=vhostEditing[name] ng-hide=vhostUpdating[name].pending>submit</button>
					<span ng-if=vhostRenaming[name].pending>(renaming..)</span>
					<span ng-if=vhostRenaming[name].rejected error-link=vhostRenaming[name]>(rename failed)</span>
					<button ng-if=!vhostNameEditing[name] ng-hide=vhostDeleting[name].pending ng-click=vhostNameEditing[name]=true;>rename</button>
					<button ng-if=vhostNameEditing[name] ng-hide=vhostRenaming[name].pending ng-click=vhostNameEditing[name]=false;>cancel</button>
					<button form=rename-vhost-{{name}} ng-if=vhostNameEditing[name] ng-hide=vhostRenaming[name].pending>submit</button>
				</td>
				<form id=update-vhost-{{name}} ng-submit=updateVHost(name);></form>
				<form id=rename-vhost-{{name}} ng-submit=renameVHost(name);></form>
			</tr>
			<tr>
				<td><input type=text form=add-vhost ng-disabled=vhostAdding.pending ng-model=newVHost.name></td>
				<td><input type=text form=add-vhost ng-disabled=vhostAdding.pending ng-model=newVHost.value></td>
				<td>
					<span ng-if=vhostAdding.pending>(adding..)</span>
					<span ng-if=vhostAdding.rejected error-link=vhostAdding>(add failed)</span>
					<button form=add-vhost ng-if=!vhostAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-vhost ng-submit=addVHost();></form>
	</section>
	<section ng-if=$app>
		<h4>apps</h4>
		<div ng-if=$app.pending>loading..</div>
		<div ng-if=$app.rejected error-link=$app>error</div>
		<table ng-if=$app.resolved>
			<tr ng-if=!($app.value.data|notEmpty)><td colspan=7>(no apps)</td></tr>
			<tr ng-repeat="(name,value) in $app.value.data">
				<td ng-if=!appNameEditing[name]>{{name||"(default)"}}</td>
				<td ng-if=appNameEditing[name]><input type=text form=rename-app-{{name}} ng-disabled=value.renaming.pending ng-model=updatedAppName[name]></td>
				<td ng-if=!appEditing[name]>{{value.type}}</td>
				<td ng-if=appEditing[name]>
					<select name=type form=update-app-{{name}} required ng-disabled=value.updating.pending ng-model=updatedApp[name].type ng-model-controller-ref=$parent.$parent.$parent.$parent.updatedAppTypeNgModelController>
						<option>middleware</option>
						<option>standalone</option>
					</select>
				</td>
				<td ng-if=!appEditing[name]>{{value.module}}</td>
				<td ng-if=appEditing[name]><input type=text name=module form=update-app-{{name}} ng-disabled=value.updating.pending ng-model=updatedApp[name].module ng-model-controller-ref=$parent.$parent.$parent.$parent.updatedAppModuleNgModelController></td>
				<td ng-if=!appEditing[name]>{{value.arguments}}</td>
				<td ng-if=appEditing[name]><input type=text name=arguments form=update-app-{{name}} ng-disabled=value.updating.pending ng-model=updatedApp[name].arguments ng-model-json ng-model-controller-ref=$parent.$parent.$parent.$parent.updatedAppArgumentsNgModelController></td>
				<td ng-if=!appEditing[name]>{{value.port}}</td>
				<td ng-if=appEditing[name]><input type=number min=0 max=65535 form=update-app-{{name}} ng-disabled=value.updating.pending ng-model=updatedApp[name].port></td>
				<td ng-if=!appEditing[name]>{{value.mount}}</td>
				<td ng-if=appEditing[name]>
					<select name=mount form=update-app-{{name}} required ng-disabled=value.updating.pending ng-model=updatedApp[name].mount ng-model-controller-ref=$parent.$parent.$parent.$parent.updatedAppMountNgModelController>
						<option>domain</option>
						<option>directory</option>
					</select>
				</td>
				<td>
					{{value.running?"running":"not running"}}
					<span ng-if=value.stopping.pending>(stopping..)</span>
					<span ng-if=value.stopping.rejected error-link=value.stopping>(stop failed)</span>
					<span ng-if=value.starting.pending>(starting..)</span>
					<span ng-if=value.starting.rejected error-link=value.starting>(start failed)</span>
					<button ng-if=value.running&&!value.stopping.pending ng-click=stop(name);>⏹</button>
					<button ng-if=!value.running&&!value.starting.pending ng-click=start(name);>⏵</button>
					<span ng-if=value.deleting.pending>(deleting..)</span>
					<span ng-if=value.deleting.rejected error-link=value.deleting>(delete failed)</span>
					<button ng-if=!value.deleting.pending ng-click=deleteApp(name);>❌</button>
					<span ng-if=value.updating.pending>(updating..)</span>
					<span ng-if=value.updating.rejected error-link=value.updating>(update failed)</span>
					<button ng-if=!appEditing[name] ng-hide=value.deleting.pending ng-click=appEditing[name]=true;>🖉</button>
					<button ng-if=appEditing[name] ng-hide=value.updating.pending ng-click=appEditing[name]=false;>cancel</button>
					<button form=update-app-{{name}} ng-if=appEditing[name] ng-hide=value.updating.pending>submit</button>
					<span ng-if=value.renaming.pending>(renaming..)</span>
					<span ng-if=value.renaming.rejected error-link=value.renaming>(rename failed)</span>
					<button ng-if=!appNameEditing[name] ng-hide=value.deleting.pending ng-click=appNameEditing[name]=true;>rename</button>
					<button ng-if=appNameEditing[name] ng-hide=value.renaming.pending ng-click=appNameEditing[name]=false;>cancel</button>
					<button form=rename-app-{{name}} ng-if=appNameEditing[name] ng-hide=value.renaming.pending>submit</button>
				</td>
				<form id=update-app-{{name}} ng-submit=updateApp(name);></form>
				<form id=rename-app-{{name}} ng-submit=renameApp(name);></form>
			</tr>
			<tr>
				<td><input type=text form=add-app ng-disabled=appAdding.pending ng-model=newApp.name></td>
				<td>
					<select name=type form=add-app required ng-disabled=appAdding.pending ng-model=newApp.value.type ng-model-controller-ref=$parent.$parent.newAppTypeNgModelController>
						<option>middleware</option>
						<option>standalone</option>
					</select>
				</td>
				<td><input type=text name=module form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.module ng-model-controller-ref=$parent.$parent.newAppModuleNgModelController></td>
				<td><input type=text name=arguments form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.arguments ng-model-json ng-model-controller-ref=$parent.$parent.newAppArgumentsNgModelController></td>
				<td><input type=number min=0 max=65535 form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.port></td>
				<td>
					<select name=mount form=add-app required ng-disabled=appAdding.pending ng-model=newApp.value.mount ng-model-controller-ref=$parent.$parent.newAppMountNgModelController>
						<option>domain</option>
						<option>directory</option>
					</select>
				</td>
				<td>
					<span ng-if=appAdding.pending>(adding..)</span>
					<span ng-if=appAdding.rejected error-link=appAdding>(add failed)</span>
					<button form=add-app ng-if=!appAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-app ng-submit=addApp();></form>
	</section>
	<section ng-if=$module>
		<h4>modules</h4>
		<div ng-if=$module.pending>loading..</div>
		<div ng-if=$module.rejected error-link=$module>error</div>
		<table ng-if=$module.resolved>
			<tr ng-if=!($module.value.data|notEmpty)><td colspan=3>(no modules)</td></tr>
			<tr ng-repeat="(name,value) in $module.value.data">
				<td>{{name}}</td>
				<td>{{value.source}}</td>
				<td>
					<span ng-if=value.deleting.pending>(deleting..)</span>
					<span ng-if=value.deleting.rejected error-link=value.deleting>(delete failed)</span>
					<button ng-if=!value.deleting.pending ng-click=deleteModule(name);>❌</button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type=text form=add-module ng-disabled=moduleAdding.pending ng-model=newModule.value.source></td>
				<td>
					<span ng-if=moduleAdding.pending>(adding..)</span>
					<span ng-if=moduleAdding.rejected error-link=moduleAdding>(add failed)</span>
					<button form=add-module ng-if=!moduleAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-module ng-submit=addModule();></form>
	</section>
</body>

</html>