<!doctype html>
<html ng-app=. ng-controller=.>

<head>
	<title></title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-q-state/$q.js"></script>
	<script>
		angular.module('.', [])
			.controller('.', function ($scope, $http) {
				$scope.connect = () => {
					$scope.$proxyRule = $http.get(`${$scope.endpoint}/proxy-rule`, { withCredentials: true });
					$scope.$app = $http.get(`${$scope.endpoint}/app/`, { withCredentials: true });
				};
				$scope.proxyRuleDeleting = {};
				$scope.deleteProxyRule = name => {
					$scope.proxyRuleDeleting[name] = $http.delete(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`, { withCredentials: true });
					$scope.proxyRuleDeleting[name].then(response => {
						delete $scope.$proxyRule.value.data[name];
					});
				};
				$scope.deleteApp = name => {
					var app = $scope.$app.value.data[name];
					app.deleting = $http.delete(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`, { withCredentials: true });
					app.deleting.then(response => {
						delete $scope.$app.value.data[name];
					});
				};
				$scope.start = name => {
					var app = $scope.$app.value.data[name];
					app.starting = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/start`, undefined, { withCredentials: true });
					app.starting.then(response => {
						app.running = true;
					});
				};
				$scope.stop = name => {
					var app = $scope.$app.value.data[name];
					app.stopping = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/stop`, undefined, { withCredentials: true });
					app.stopping.then(response => {
						app.running = false;
					});
				};
			})
			.filter('notEmpty', () => object => {
				for (var key in object)
					return true;
				return false;
			})
	</script>
</head>

<body>
	<form>target: <input type=text ng-model=endpoint><button ng-click=connect();>connect</button></form>
	<section ng-if=$proxyRule>
		<h4>proxy rules</h4>
		<div ng-if=$proxyRule.pending>loading..</div>
		<div ng-if=$proxyRule.rejected>error</div>
		<div ng-if=!($proxyRule.value.data|notEmpty)>(no proxy rules)</div>
		<table ng-if=$proxyRule.resolved&&($proxyRule.value.data|notEmpty)>
			<tr ng-repeat="(name,value) in $proxyRule.value.data">
				<td>{{name||"(default)"}}</td>
				<td>{{value}}</td>
				<td>
					<span ng-if=proxyRuleDeleting[name].pending>(deleting..)</span>
					<span ng-if=proxyRuleDeleting[name].rejected>(delete failed)</span>
					<button ng-if=!proxyRuleDeleting[name].pending ng-click=deleteProxyRule(name);>❌</button>
				</td>
			</tr>
		</table>
	</section>
	<section ng-if=$app>
		<h4>app</h4>
		<div ng-if=$app.pending>loading..</div>
		<div ng-if=$app.rejected>error</div>
		<div ng-if=!($app.value.data|notEmpty)>(no apps)</div>
		<table ng-if=$app.resolved&&($app.value.data|notEmpty)>
			<tr ng-repeat="(name,value) in $app.value.data">
				<td>{{name||"(default)"}}</td>
				<td>{{value.module}}</td>
				<td>{{value.arguments}}</td>
				<td>
					{{value.running?"running":"not running"}}
					<span ng-if=value.stopping.pending>(stopping..)</span>
					<span ng-if=value.stopping.rejected>(stop failed)</span>
					<span ng-if=value.starting.pending>(starting..)</span>
					<span ng-if=value.starting.rejected>(start failed)</span>
					<button ng-if=value.running&&!value.stopping.pending ng-click=stop(name);>⏹</button>
					<button ng-if=!value.running&&!value.starting.pending ng-click=start(name);>⏵</button>
					<span ng-if=value.deleting.pending>(deleting..)</span>
					<span ng-if=value.deleting.rejected>(delete failed)</span>
					<button ng-if=!value.deleting.pending ng-click=deleteApp(name);>❌</button>
				</td>
			</tr>
		</table>
	</section>
</body>

</html>