<!doctype html>
<html ng-app=. ng-controller=.>

<head>
	<title></title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-q-state/$q.js"></script>
	<script>
		angular.module('.', [])
			.controller('.', function ($scope, $http) {
				$scope.connect = () => {
					$scope.$proxyRule = $http.get(`${$scope.endpoint}/proxy-rule/`);
					$scope.$app = $http.get(`${$scope.endpoint}/app/`);
					$scope.$module = $http.get(`${$scope.endpoint}/module/`);
					$scope.eventSource && $scope.eventSource.close();
					$scope.eventSource = new EventSource(`${$scope.endpoint}/event/`);
					$scope.eventSource.addEventListener('stop', e => {
						var [source, data] = e.data.split('\n');
						data = JSON.parse(data);
						var [, type, name] = source.split('/');
						if (type == 'app') {
							$scope.$app.value.data[name].running = false;
							$scope.$apply();
						}
					});
				};
				$scope.proxyRuleDeleting = {};
				$scope.deleteProxyRule = name => {
					$scope.proxyRuleDeleting[name] = $http.delete(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`);
					$scope.proxyRuleDeleting[name].then(response => {
						delete $scope.$proxyRule.value.data[name];
					});
				};
				$scope.newProxyRule = { name: '', value: '' };
				$scope.proxyRuleAdding;
				$scope.addProxyRule = () => {
					var { name, value } = $scope.newProxyRule;
					if (name in $scope.$proxyRule.value.data) {
						alert("The proxy rule already exists.");
						return;
					}
					$scope.proxyRuleAdding = $http.put(`${$scope.endpoint}/proxy-rule/${encodeURIComponent(name || 'default')}`, JSON.stringify(value));
					$scope.proxyRuleAdding.then(response => {
						$scope.$proxyRule.value.data[name] = value;
						with ($scope.newProxyRule) { name = ''; value = ''; }
						setTimeout(() => {
							document.getElementById('add-proxy-rule').elements[0].focus();
						}, 0);
					});
				};
				$scope.deleteApp = name => {
					var app = $scope.$app.value.data[name];
					app.deleting = $http.delete(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`);
					app.deleting.then(response => {
						delete $scope.$app.value.data[name];
					});
				};
				$scope.newApp = { name: '', value: {} };
				$scope.appAdding;
				$scope.addApp = () => {
					if ($scope.newAppTypeNgModelController.$invalid) {
						alert("type is not valid.");
						return;
					}
					else if ($scope.newAppModuleNgModelController.$invalid) {
						alert("module is not valid.");
						return;
					}
					else if ($scope.newAppArgumentsNgModelController.$invalid) {
						alert("arguments is not valid.");
						return;
					}
					var { name, value } = $scope.newApp;
					if (name in $scope.$app.value.data) {
						alert("The app already exists.");
						return;
					}
					$scope.appAdding = $http.put(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}`, value);
					$scope.appAdding.then(response => {
						$scope.$app.value.data[name] = value;
						with ($scope.newApp) { name = ''; value = {}; }
						setTimeout(() => {
							document.getElementById('add-app').elements[0].focus();
						}, 0);
					});
				};
				$scope.start = name => {
					var app = $scope.$app.value.data[name];
					app.starting = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/start`);
					app.starting.then(response => {
						app.running = true;
					});
				};
				$scope.stop = name => {
					var app = $scope.$app.value.data[name];
					app.stopping = $http.post(`${$scope.endpoint}/app/${encodeURIComponent(name || 'default')}/stop`);
					app.stopping.then(response => {
						app.running = false;
					});
				};
				$scope.newModule = { value: {} };
				$scope.moduleAdding;
				$scope.addModule = () => {
					var { value } = $scope.newModule;
					$scope.moduleAdding = $http.post(`${$scope.endpoint}/module/`, value);
					$scope.moduleAdding.then(response => {
						var location = response.headers('Location');
						var name = location.substr(location.indexOf('/', 1) + 1);
						$scope.$module.value.data[name] = value;
						with ($scope.newModule) { value = {}; }
						setTimeout(() => {
							document.getElementById('add-module').elements[0].focus();
						}, 0);
					});
				};
				$scope.deleteModule = name => {
					var module = $scope.$module.value.data[name];
					module.deleting = $http.delete(`${$scope.endpoint}/module/${encodeURIComponent(name)}`);
					module.deleting.then(response => {
						delete $scope.$module.value.data[name];
					});
				};
			})
			.filter('notEmpty', () => object => {
				for (var key in object)
					return true;
				return false;
			})
			.config($httpProvider => {
				$httpProvider.interceptors.push(
					() => ({
						request: config => {
							config.withCredentials = true;
							return config;
						}
					})
				);
			})
			.directive('errorLink', () => ({
				restrict: 'A',
				scope: { errorLink: '=' },
				link: (scope, element, attr) => {
					element.on('click', () => {
						alert(
							scope.errorLink.value.status > 0 ?
								scope.errorLink.value.data :
								"Didn't get response from server."
						);
					});
				}
			}))
	</script>
	<script src="ngModelJson.js"></script>
	<script src="ngModelControllerRef.js"></script>
	<style>
		[error-link] {
			color: red;
			text-decoration: underline;
			cursor: pointer;
		}
		td > input {
			width: 100%;
		}
	</style>
</head>

<body>
	<form>target: <input type=text ng-model=endpoint><button ng-click=connect();>connect</button></form>
	<section ng-if=$proxyRule>
		<h4>proxy rules</h4>
		<div ng-if=$proxyRule.pending>loading..</div>
		<div ng-if=$proxyRule.rejected error-link=$proxyRule>error</div>
		<table ng-if=$proxyRule.resolved>
			<tr ng-if=!($proxyRule.value.data|notEmpty)><td colspan=3>(no proxy rules)</td></tr>
			<tr ng-repeat="(name,value) in $proxyRule.value.data">
				<td>{{name||"(default)"}}</td>
				<td>{{value}}</td>
				<td>
					<span ng-if=proxyRuleDeleting[name].pending>(deleting..)</span>
					<span ng-if=proxyRuleDeleting[name].rejected error-link=proxyRuleDeleting[name]>(delete failed)</span>
					<button ng-if=!proxyRuleDeleting[name].pending ng-click=deleteProxyRule(name);>❌</button>
				</td>
			</tr>
			<tr>
				<td><input type=text form=add-proxy-rule ng-disabled=proxyRuleAdding.pending ng-model=newProxyRule.name></td>
				<td><input type=text form=add-proxy-rule ng-disabled=proxyRuleAdding.pending ng-model=newProxyRule.value></td>
				<td>
					<span ng-if=proxyRuleAdding.pending>(adding..)</span>
					<span ng-if=proxyRuleAdding.rejected error-link=proxyRuleAdding>(add failed)</span>
					<button form=add-proxy-rule ng-if=!proxyRuleAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-proxy-rule ng-submit=addProxyRule();></form>
	</section>
	<section ng-if=$app>
		<h4>apps</h4>
		<div ng-if=$app.pending>loading..</div>
		<div ng-if=$app.rejected error-link=$app>error</div>
		<table ng-if=$app.resolved>
			<tr ng-if=!($app.value.data|notEmpty)><td colspan=6>(no apps)</td></tr>
			<tr ng-repeat="(name,value) in $app.value.data">
				<td>{{name||"(default)"}}</td>
				<td>{{value.type}}</td>
				<td>{{value.module}}</td>
				<td>{{value.arguments}}</td>
				<td>{{value.port}}</td>
				<td>
					{{value.running?"running":"not running"}}
					<span ng-if=value.stopping.pending>(stopping..)</span>
					<span ng-if=value.stopping.rejected error-link=value.stopping>(stop failed)</span>
					<span ng-if=value.starting.pending>(starting..)</span>
					<span ng-if=value.starting.rejected error-link=value.starting>(start failed)</span>
					<button ng-if=value.running&&!value.stopping.pending ng-click=stop(name);>⏹</button>
					<button ng-if=!value.running&&!value.starting.pending ng-click=start(name);>⏵</button>
					<span ng-if=value.deleting.pending>(deleting..)</span>
					<span ng-if=value.deleting.rejected error-link=value.deleting>(delete failed)</span>
					<button ng-if=!value.deleting.pending ng-click=deleteApp(name);>❌</button>
				</td>
			</tr>
			<tr>
				<td><input type=text form=add-app ng-disabled=appAdding.pending ng-model=newApp.name></td>
				<td>
					<select name=type form=add-app required ng-disabled=appAdding.pending ng-model=newApp.value.type ng-model-controller-ref=$parent.$parent.newAppTypeNgModelController>
						<option>middleware</option>
						<option>standalone</option>
					</select>
				</td>
				<td><input type=text name=module form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.module ng-model-controller-ref=$parent.$parent.newAppModuleNgModelController></td>
				<td><input type=text name=arguments form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.arguments ng-model-json ng-model-controller-ref=$parent.$parent.newAppArgumentsNgModelController></td>
				<td><input type=number min=0 max=65535 form=add-app ng-disabled=appAdding.pending ng-model=newApp.value.port></td>
				<td>
					<span ng-if=appAdding.pending>(adding..)</span>
					<span ng-if=appAdding.rejected error-link=appAdding>(add failed)</span>
					<button form=add-app ng-if=!appAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-app ng-submit=addApp();></form>
	</section>
	<section ng-if=$module>
		<h4>modules</h4>
		<div ng-if=$module.pending>loading..</div>
		<div ng-if=$module.rejected error-link=$module>error</div>
		<table ng-if=$module.resolved>
			<tr ng-if=!($module.value.data|notEmpty)><td colspan=3>(no modules)</td></tr>
			<tr ng-repeat="(name,value) in $module.value.data">
				<td>{{name}}</td>
				<td>{{value.source}}</td>
				<td>
					<span ng-if=value.deleting.pending>(deleting..)</span>
					<span ng-if=value.deleting.rejected error-link=value.deleting>(delete failed)</span>
					<button ng-if=!value.deleting.pending ng-click=deleteModule(name);>❌</button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type=text form=add-module ng-disabled=moduleAdding.pending ng-model=newModule.value.source></td>
				<td>
					<span ng-if=moduleAdding.pending>(adding..)</span>
					<span ng-if=moduleAdding.rejected error-link=moduleAdding>(add failed)</span>
					<button form=add-module ng-if=!moduleAdding.pending>➕</button>
				</td>
			</tr>
		</table>
		<form id=add-module ng-submit=addModule();></form>
	</section>
</body>

</html>